# ====== #
# Custom #
# ====== #
.UnityProject

# =============== #
# Unity generated #
# =============== #
#UnityProject/Temp
#UnityProject/Library
#UnityProject/Logs
#UnityProject/ProjectSettings
#UnityProject/Packages
 
# ============= #
# IDE generated #
# ============= #
#UnityProject/[Oo]bj
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.idc
*.vs
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
